---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: argocd-notifications-secret
  namespace: argocd
spec:
  encryptedData:
    ntfy-header: AgBg9ZIYPU4medO1PxssVIILMACFEKEx5qQJIefkhJQ0RKLRRuEYK3VR71HtOfsk2YSk+OAuY42I58B+5gSDapjkmkxrdbkQOVzARItX+qE7G80Pi0xRmNq1eJFv+P/ZN/urUuh7cy/c9vzatke2+ZHJqw4IvLRVFeZxMo8Avg248dSYXH1eLwQIehJ/pfWtd2goDNUa7tRbvhNUcqvV4stGEKzyC1QrItN1ooSMoa7gT5xl3cJu90EIrZAw6MRfxFhV8r6N0L6t6n+03R3C7Xp6LiaWw5M+B3ngkTnAcLUBUQuGNrh3Pmy8j+gJEpXgQ1TeJNYW7j+2uH51twk+ryZUQhphmYUyyjqy3VTPOg7rBrXL7oLWrB24RaNQcwPOsdrTGeao/QkQvJoVxM42F5Bzn3NKxB5HWv5oqjk7EB8lnrvwZ/X5nlcfKSZHqAwrZxafEI5TwRw4ilUQ4Olh30Mv366ErYUhkQNDpXAyQGMZZCh/QM9sZDm/48GWL1u22olmTdOMIEtJqH3YfJvdlMbBH0FZSED4iDi+Vklk/750EFI5j+iDxFfoSHF06oEMO4T4BCdireV7Lb96yQH6RuStEB/Fjuah5Hhw7DTOABVn0z+k1OLJ3abrcBfRCiZFwpHIpvPanlnPZMRg+Hy+Z+kbN6TGgKvvJKVARIXMwbp2+/iGdnnZfCEEiaZ19OD99QSTOY6nGjzUkO9O7aI9lLjlo8/bjDUgz1IXGh5Bn9tGDjUC
  template:
    metadata:
      name: argocd-notifications-secret
      namespace: argocd
      labels:
        app.kubernetes.io/component: notifications-controller
        app.kubernetes.io/name: argocd-notifications-controller
        app.kubernetes.io/part-of: argocd
